// Variables

// ========= DEFAULT BODY =========
$body-text-color: #444;
$white: #FFFFFF;


// ========= HEADINGS =========

$primary-color: rgb(133, 52, 83);
$secondary-color: lighten($primary-color, 15%);

