// GIFT REGISTRY

#gift-registry {
  padding: 40px 0;
}

.registry-logos {
  display: flex;
  align-content: center;
  width: 35%;
  transition: all .25s ease-in-out;
  margin: 25px auto;
  text-align: center;
  &:hover {
    transform: scale(1.1);
  }
}

