// OUR STORY

.our-story {
  @include sections;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  line-height: 1.6;
  margin: auto;
}

.our-story h2 {
  @include section-headings;
}

.our-story p {
  text-align: justify;
}

button.read-more {
  @include read-more-btn;
}

button.read-more:hover {
  background: lighten($primary-color, 50%);
  color: $primary-color;
}

